* {
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

button{
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.sidebar {
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: "TT Lakes";
    gap: 50px;
    font-size: 16px;
    padding: 24px;
    width: 320px;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}


.sidebar-header--layout{
    display: flex;


}

.sidebar__item:last-child:before {
    display: none;
}

.sidebar__list{
    gap: 16px;
    display: flex;
    align-items: center;
}

.sidebar-nav{
    flex-grow: 1;
}

.sidebar-nav__list {
    font-size: 16px;
    line-height: 24px;
}
.sidebar__item:nth-child(2){
    flex-grow: 1;
}
.sidebar-nav__item {
    padding: 16px 0;
    position: relative;
    cursor: pointer;
    transition-duration: 0.2s;
}

.sidebar-nav__item {
    padding: 16px 0;
}

.logo{
    display: block;
    height: 51px;
    padding: 0;
}

.sidebar-nav__item:hover {
    color: #7E7E82;
}

.sidebar-nav__item:hover::before {
    content: "";
    margin-left: -24px;
    margin-top: -4px;
    position: absolute;
    height: 32px;
    border: 2px solid #41F6D7;
    border-radius: 0 4px 4px 0;
    background: #41F6D7;
}


.language-switch-list__item{
    cursor: pointer;
    transition-duration: 0.2s;
}


.sidebar__contacts{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sidebar__number{
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    font-family: inherit;
    margin-right: auto;
}

.sidebar__email{
    font-family: inherit;
    font-size: 16px;
    line-height: 32px;
    margin-right: auto;
}


.contacts-list{
    display: flex;
    gap: 16px;
}

.sidebar__input{
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.sidebar__lang-form{
    display: flex;
    gap: 7px;
}

.sidebar__label{
    cursor: pointer;
    transition: 0.3s;
}

.sidebar__label:hover{
    transform: scale(1.2);
}

.sidebar__input:checked + .sidebar__label{
    opacity: 0.6;
}

