* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "TT Lakes";
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

ul{
    list-style: none;
}

.slider-section__slide{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 16px;

    align-items: center;
    max-height: 72px;
    width: 225px;
    cursor: pointer;
    border: 1px solid #EAEAEA;
    background: white;
    border-radius: 6px;
    transition: 0.3s;
}

.technique-slide{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 16px;

    height: 160px;
    width: 240px;
    cursor: pointer;
    border: 1px solid #EAEAEA;
    background: white;
    border-radius: 6px;
    transition: 0.3s;
}

.slider-section__item{
    width: auto;
    display: flex;
}

.wrapper{
    margin-top: 200px;
    background: #F8F8F8;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}



.slider-section__brand-slider{
    display: flex;
    gap: 16px;
    padding: 16px;
    width: auto;
    flex-direction: column;
    position: relative;
}

.technique-slider{
}

.prices-slider{
    height: 140px;
}

.dropdown-image{
    width: 40px;
    height: 40px;
}

.slider-section__header{
    line-height: 24px;
    font-weight: normal;
    padding: 16px;
    display: flex;
    align-items: center;
    border-top: 1px solid #D9FFF5;
    min-height: 60px;
    font-size: 16px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    color: #7E7E82;
}

.technique-slide .dropdown-image{
    align-self: end;
}
.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    background: #DDDDDD;
}

.swiper-pagination{
    bottom: 0 !important;
    position: relative;
}

.more-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background: inherit;
    border: inherit;
    transition: all 0.3s ease;
}

.more-btn{
    display: none;
}

.slider-section__slide:hover{
    opacity: 0.6;
}



.more-btn__img{
    transition: 0.3s;
}


@media (min-width: 768px){
    .more-btn{
        font-family: 'TT Lakes';
        white-space: nowrap;
        font-size: 16px;
        padding-left: 16px;
        display: flex;
        cursor: pointer;
    }



    .more-btn::before{
        content: url('img/learn_more_icon.png');
    }

    .more-btn.expanded-image::before{
        content: url('img/learn_more_icon.png');
        transform: rotate(-180deg);
    }

    .slider-section__list{
        overflow-y: hidden;
        height: auto;
        max-height: 170px;
        gap: 16px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        flex-wrap: wrap;
        transform: translate3d(0,0,0) !important;
        transition: max-height 0.3s;
    }

    .slider-section__slide{
        width: 100%;
    }

    .expanded{
        max-height: 100vh;
    }

}

@media (min-width: 1120px){

    .slider-section__list{
        grid-template-columns: repeat(4, 1fr);
    }

}