* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'TT Lakes';
    src: local('TT Lakes Medium'), local('TT-Lakes-Medium'),
    url('fonts/TTLakes-Medium.woff2') format('woff2'),
    url('fonts/TTLakes-Medium.woff') format('woff'),
    url('fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

.nav__list::-webkit-scrollbar {
    width: 0;
    height: 0;
}


html {
    box-sizing: border-box;
    font-family: "TT Lakes";
}

*, *:before, *:after {
    box-sizing: inherit;
}

.header__sub-list{
    display: flex;
    list-style-type: none;
    gap: 16px;
}

.main-container {
    background: #F8F8F8;
    max-width: 1120px;
    margin: 0 auto;
}

.header__sub-list-item{
    display: flex;
    gap: 8px;
}

.header__panel {
    padding: 18px 16px;
    display: flex;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: -1;
    border-bottom: #D9FFF5;
    background: white;

}

.header {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: auto auto;
}

.l-column {
    display: flex;
    position: relative;
}

.header__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 16px;
}

.header-column--padding {
    padding-left: 20px;

}
.header__list .header__list-item:last-child:before {
    position: absolute;
    content: "";
    height: 32px;
    width: 2px;
    border-radius: 2px;
    top: 50%;
    transform: translateY(-15px);
    left: 0;
    background: #EAEAEA;
}

.header__list-item {
    display: flex;
    align-items: center;
    position: relative;
    gap: 16px;
}

.icon-common {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    background: rgba(255, 62, 121, 1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.icon__image{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 62, 121, 1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.icon-common:hover {
    opacity: 0.6;
    cursor: pointer;
}


.main-layout {
    padding-bottom: 30px;
    display: flex;
    gap: 24px;
    flex-direction: column;
    background: #F8F8F8;

}

.title {
    display: flex;
    gap: 16px;
    white-space: nowrap;
    font-size: 28px;
}

.main-title {
    flex-direction: row;
    padding-top: 24px;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
}

.title::before {
    content: "";
    height: 40px;
    border: 2px solid #41F6D7;
    border-radius: 0 4px 4px 0;
}
.nav{
    background: #F8F8F8;
}
.nav__list {
    display: flex;
    padding: 10px 16px;
    overflow-y: hidden;
    overflow-x: scroll;
    gap: 5px 5px;
}

.nav__item {
    white-space: nowrap;
    list-style-type: none;
}

.nav__link {
    display: block;
    line-height: 18px;
    transition: 0.5s;
    padding: 8px 12px;
    color: #7E7E82;
    border: 2px solid transparent;
    border-radius: 6px;
    text-decoration: none;
}

.nav__link:hover {
    box-sizing: border-box;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background: #FFFFFF;
}

.description-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.description-section__description {
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding: 0 16px;
}

.description-section__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-height: 95px;
    overflow: hidden;

}

.description-section__button {
    cursor: pointer;
    align-self: flex-start;
    background: transparent;
    border: transparent;
    font-size: 16px;
}

.description-section__button:before {
    content: url('img/learn_more_icon.png');
    padding: 0 10px 0 0;
}

.l-column_none {
    display: none;
}

.logo{
    height: 51px;
    cursor: pointer;

}

.logo__img{
    height: 100%;
}

.description-section__image{
    height: 100%;
}

.description-section__p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.header__list-item:first-child .header__sub-list {
    display: none;
}

.header-column__link-description {
    display: none;
}

.header__sub-list:last-child{
    padding-left: 16px;
}

.description-section__image-layout{
    height: 186px;
}

.header__list:first-child .header__list-item:last-child:before{
    display: none;
}

.icon__text{
    display: none;
}



@media (min-width: 768px) {
    .header__list-item:first-child .header__sub-list {
        display: flex;
        flex-direction: row;
    }

    .header__panel {
        padding-left: 24px;
        padding-right: 24px;
    }

    .l-column_none {
        display: flex;
    }

    .header__list .list-links--none {
        display: flex;
    }

    .description-section {
        flex-direction: row;
        gap: 34px;
        padding: 0 24px;
    }

    .description-section__text {
        line-height: 20px;
        max-height: 160px;
        padding: 0 0;
    }

    .logo {
        padding-left: 16px;
    }

    .description-section__image-layout {
        width: 50%;
        height: 208px;
    }

    .description-section__description {
        padding: 0;
        padding-top: 10px;
        width: 50%;
    }

    .description-section__image {
        object-fit: fill;
        border-radius: 6px;
    }

    .header__list-item{
        position: relative;
    }

    .header__list:first-child .header__list-item:last-child:before{
        display: flex;
    }


    .nav__list{
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 1120px) {

    a{
        text-decoration: none;
    }

    .description-section__image-layout{
        height: 307px;
    }

    .description-section__image {
        border-radius: 6px;
    }

    .header{
        padding-top: 24px;
    }

    .icon__text{
        white-space: nowrap;
        display: flex;
        color: #1B1C21;
        transition-duration: 0.2s;
    }

    .icon{
        align-items: center;
        gap: 8px;
        display: flex;
    }

    .icon:hover{
        opacity: 0.6;
    }

    .header__list:first-child {
        display: none;
    }

    .header__list-item:first-child {
        display: none;
    }

    .main-title {
        padding-top: 0;
        justify-content: space-between;
        grid-row-start: 1;
        grid-column-end: 1;
    }

    .header {
        padding-top: 42px;
        padding-right: 32px;
        grid-column-start: 2;
        grid-row-start: 1;
        background: none;
    }

    .description-section {
        flex-direction: row;
        gap: 34px;
        padding: 0 32px;
    }

    .title {
        gap: 32px;
    }


    .header__list-item {
        display: flex;
        gap: 8px;
    }

    .nav__list {
        padding-left: 32px;
        padding-right: 32px;
        flex-wrap: wrap;
    }
    .header__panel{
        padding: 0;
        grid-column-start: 2;
        background: #F8F8F8;
    }

    .header__list-item:last-child:before {
        display: none;
    }
}


