* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'TT Lakes';
    src: local('TT Lakes Medium'), local('TT-Lakes-Medium'),
    url('fonts/TTLakes-Medium.woff2') format('woff2'),
    url('fonts/TTLakes-Medium.woff') format('woff'),
    url('fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

.nav-list::-webkit-scrollbar {
    width: 0;
    height: 0;
}


html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.sub-list{
    display: flex;
    list-style-type: none;
    gap: 16px;
}

.page {
    max-width: 1120px;
    margin: 0 auto;
}

.sub-list__item{
    display: flex;
    gap: 8px;
}

.header {
    padding: 18px 16px;
    display: flex;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: -1;
    border-bottom: #D9FFF5;
    background: white;;
}

.header-layout {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: auto auto;
    background: #F8F8F8;
}

.l-column {
    display: flex;
    position: relative;
}

.list-links {
    display: flex;
    align-items: center;
    position: relative;
    list-style-type: none;
    gap: 16px;
}

.header-column--padding {
    padding-left: 20px;

}

.list-menu{
    display: flex;
    gap: 16px;
    align-items: center;
}

.list-links .list-links__item:last-child:before {
    position: absolute;
    content: "";
    height: 32px;
    width: 2px;
    border-radius: 2px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: #EAEAEA;
}

.list-links__item {
    display: flex;
    align-items: center;
    position: relative;
    gap: 16px;
}

.icon-common {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    background: rgba(255, 62, 121, 1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.icon-common:hover {
    opacity: 0.6;
    cursor: pointer;
}

.main-layout {
    max-width: 1600px;
    padding-bottom: 30px;
    display: flex;
    gap: 24px;
    flex-direction: column;
    background: #F8F8F8;
    font-family: "TT Lakes";
}

.title {
    white-space: nowrap;
    font-size: 28px;
    margin-left: 16px;
}

.main-title {
    position: relative;
    font-size: 28px;
    margin-top: 24px;
    flex-direction: row;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
}

.title::before {
    content: "";
    margin-left: -16px;
    position: absolute;
    height: 40px;
    border-radius: 0 4px 4px 0;
    width: 4px;
    top: 50%;
    transform: translateY(-50%);
    background: #41F6D7;
}
.navigation{
    background: #F8F8F8;
}
.nav-list {
    display: flex;
    margin-left: 16px;
    overflow-y: hidden;
    overflow-x: auto;
}

.nav-list__item {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    height: 40px;
}

.nav-list__link {
    line-height: 18px;
    transition: 0.5s;
    padding: 8px;
    color: #7E7E82;
    border: 2px solid transparent;
    border-radius: 6px;
    text-decoration: none;
}

.nav-list__link:hover {
    box-sizing: border-box;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background: #FFFFFF;
}

.description-section__description {
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding: 0 16px;
}

.description-section__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-height: 95px;
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
}

.description-section__button {
    cursor: pointer;
    align-self: flex-start;
    background: transparent;
    border: transparent;
    font-size: 16px;
}

.description-section__button:before {
    content: url('img/learn_more_icon.png');
    padding: 0 10px 0 0;
}

.l-column_none {
    display: none;
}

.description-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.description-section__image {
    width: 100%;
    max-height: 500px;
}

.list-links__item:first-child .sub-list {
    display: none;
}

.header-column__link-description {
    display: none;
}

.list-links__item:last-child{
    padding-left: 16px;
}

.description-section__image-layout{
    height: 100%;
}

.callback_list span{
    display: none;
}



@media (min-width: 768px) {
    .list-links__item:first-child .sub-list {
        display: flex;
    }
    .header {
        padding-left: 24px;
        padding-right: 24px;
    }

    .l-column_none {
        display: flex;
    }

    .list-links .list-links--none {
        display: flex;
    }

    .description-section {
        flex-direction: row;
        gap: 34px;
        padding: 0 24px;
    }

    .description-section__text {
        line-height: 20px;
        max-height: 160px;
        padding: 0 0;
    }


    .description-section__image-layout {
        width: 50%;
    }

    .description-section__description {
        padding: 0;
        padding-top: 10px;
        width: 50%;
    }

    .description-section__image {
        width: 100%;
        height: 100%;
    }

    .header-column_before-menu {
        padding-left: 20px;
    }

    .cps-logo-link {
        position: relative;
        padding-left: 16px;
    }

    .list-links__item{
        position: relative;
    }

    .list-links__item:last-child:before {
        position: absolute;
        content: "";
        height: 32px;
        width: 2px;
        border-radius: 2px;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        background: #EAEAEA;
    }

    .description-section__image {
        border-radius: 6px;
    }
}

@media (min-width: 1120px) {



    .callback_list span{
        position: absolute;
        white-space: nowrap;
        display: flex;
        left: 100%;
        transform: translateX(-140%);
        font-family: "TT Lakes";
        color: #1B1C21;
        transition-duration: 0.2s;
    }

    .callback_list{
        gap: 150px;
    }

    .icon-common{
        text-decoration: none;
        position: relative;
    }

    .list-menu {
        display: none;
    }

    .list-links__item:first-child {
        display: none;
    }

    .main-title {
        justify-content: space-between;
        padding: 0 32px;
        grid-row-start: 1;
        grid-column-end: 1;
    }

    .header {
        padding: 0 32px;
        padding-top: 24px;
        grid-column-start: 2;
        grid-row-start: 1;
        background: none;
    }

    .description-section {
        flex-direction: row;
        gap: 34px;
        padding: 0 32px;
    }

    .title {
        margin-left: 0;
    }

    .title::before {
        margin-left: -32px;
    }

    .list-links__item {
        display: flex;
        gap: 8px;
    }

    .nav-list {
        margin: 0 32px;
        flex-wrap: wrap;
    }

    .list-links:nth-child(2) {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .list-links__item:last-child:before {
        display: none;
    }
}


